.table-container {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.buttonWrapper {
  display: flex;
  margin: 20px;
  justify-content: center;
}

.buttonWrapper button {
  padding: 10px;
}

table {
  border: 1px solid #b3adad;
  border-collapse: collapse;
  padding: 5px;
  width: 70%;
}
table th {
  border: 1px solid #b3adad;
  padding: 5px;
  background: #f0f0f0;
  color: #313030;
}
table td {
  border: 1px solid #b3adad;
  text-align: center;
  padding: 5px;
  background: #ffffff;
  color: #313030;
}

td span {
  padding-left: 15px;
}
